@page "/"

@using System.Net

@inject HttpClient httpClient;

<div class="d-flex justify-content-center mt-5">
    <header>
        <h1>Simple URL Shortener</h1>
    </header>
</div>

        <div class="card">
            <div class="card-body">
                <EditForm Model=@link OnValidSubmit=@OnValidSubmit>
                    <div class="form-group">
                        <label for="originalURL">Original URL:</label>
                        <InputText class="form-control" id="originalURL" placeholder="Enter URL" @bind-Value="link.OriginalLink" required></InputText>
                        <div class="invalid-feedback">
                            @error
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="shortenedURL">Shortened URL:</label>
                        <InputText class="form-control" id="shortenedURL" @bind-Value="link.ShortenedLink" readonly></InputText>
                    </div>

                    <button type="submit" class="btn btn-primary">Shorten</button>
                </EditForm>
            </div>
        </div>

    @code
{
        private Link link = new Link();
        private string error = "";

        private async Task OnValidSubmit()
        {
            bool isValid = await IsValidUrl(link.OriginalLink);

            if (isValid)
            {
                string url = link.OriginalLink;
                link.ShortenedLink = url;
                error = "";
            }
            else
            {
                error = "Invalid URL";
            }
        }

        private async Task<bool> IsValidUrl(string url)
        {
          
        }
    }